<ul class="nav list-group">
	<li>
    	<a href="{% url 'client_table' %}" class="list-group-item">Clients</a>
	</li>
	<li>
    	<a class="list-group-item" href="{% url 'produits_table' %}">Produits</a>
	</li>
    <li>
    	<a class="list-group-item" href="{% url 'fournisseur_table' %}">Fournisseurs</a>
	</li>
	<li class="list-group-item">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facturation</a>
	  <div class="dropdown-menu">
	    <a class="dropdown-item" href="#">Nouvelle Facture</a>
	    <a class="dropdown-item" href="#">Modifier Facture</a>
	    <a class="dropdown-item" href="#">Supprimer Facture</a>
	  </div>
	</li>
</ul>
